
.container {
    display: flex;
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    /* align-items: flex-end; */
    justify-content: ;
    flex-direction: ;
    /* align-content: center; */
    /* 
    flex-direction: column;
    flex-wrap: wrap;
    é igual
    flex-flow: column wrap
    */

    background-color: darkgrey;
    height: 400px;
    color: white;
}

.rect {
    width: 150px;
    height: 100px;
}

.r1 {
    /* order: 3; */
    /* flex-grow: 1; */
    /* flex-shrink: 0; */
    background-color: red;
}

.r2 {
    /* flex-grow: 15; */
    /* flex-shrink: 0; */
    /* order: 1; */
        /* align-self: flex-end; */
        align-self: center;
    background-color: blue;
}

.r3 {
    /* order: 2; */
    /* flex-shrink: 0; */
    /* flex-grow: 1; */
    background-color: green;
}